{% extends 'base/base.html' %}
{% block bodyblock %}
<div class="container">
    <!-- <h1 class="text-center"> How's the stock </h1> -->
    <h1 class="display-4 text-center">How's the stock </h1>
</div>
<div class="container-sm">
    <div class="jumbotron ">
  
        <a href="/?price=price" class="nav-link badge text-bg-warning">Price</a> 
        <a href="/?mcap=mcap"  class=" nav-link badge text-bg-warning">Market Capitalization</a> 
        <div>
            <table class="table">
                <thead>
                  <tr>
                    <th scope="col">Rank</th>
                    <th scope="col">Name</th>
                    <th scope="col">BSC code</th>
                    <th scope="col">NSE code</th>

                    <th scope="col">Market Cap</th>
                    <th scope="col">Price</th>
                  </tr>
                </thead>
                <tbody>
                    {% for stock in data %}
                  <tr>
                    <th scope="row">{{forloop.counter }}</th>
                    <td>{{stock.name.stock_name}} <br> <span><small> {{stock.name.industry.sector.name}}</small></span></td>
                    <td>{{stock.name.bse_code}} </td> 
                    <td>{{stock.name.nse_code}} </td> 
                    <td>{{stock.name.market_cap}} </td> 
                    <td>{{stock.current_price}}</td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
        </div>
    </div>

</div>
{% endblock %}