{% extends 'base/base.html' %}
{% block bodyblock %}
<div class="container mt-4">
  {% if price %}
  <h1 class=" text-center ">Largest Indian companies by price </h1>
  {% else %}
  <h1 class=" text-center ">Largest Indian companies by market capitalization. <span style="font-size: small;">
    {% if p_date %} {{p_date}} {% endif %}
  </span> </h1>
  {% endif %}
</div>
<div class="container">
  <div class="container-fluid row mt-4">
    <div class="col-2">
      <form method="post">
        <h4>Select a Date</h4>
        {% csrf_token %}
        <input type="date" name="dropdown" id="dateDropdown" min="2024-01-22" {% if p_date %} value="{{p_date}}" {% endif %}>
        <div><button type="submit" class="btn btn-primary mt-2">Find</button></div>
      </form>
    </div>
    <div class="container col-10">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Rank</th>
            <th>Profile</th>
            <th scope="col">Name</th>
            <th scope="col">BSC code</th>
            <th scope="col">NSE code</th>

            <th scope="col">
              <a class="nav-link " href="/?mcap=mcap">Market Capitalization <i class="bi bi-arrow-down-short"></i></a>
            </th>
            <th scope="col">
              <a class="nav-link " href="/?price=price">Price<i class="bi bi-arrow-down-short"></i></a>
            </th>
            <th scope="col">P/L%</th>
          </tr>
        </thead>
        <tbody>
          {% for stock in data %}
          <tr>
            <th scope="row">{{forloop.counter }}</th>
            <td> <img src="{{stock.name.photo}}" > </td>
            <td>{{stock.name.stock_name}} <br> <span><small> {{stock.name.industry.sector.name}}</small></span></td>
            <td>{{stock.name.bse_code}} </td>
            <td>{{stock.name.nse_code}} </td>
            <td>{{stock.market_cap}} </td>
            <td>{{stock.current_price}}</td>
            <td>{{stock.profit}} %</td>
             <td>{{stock.date}} </td> 
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock %}